body {
  background-color: blanchedalmond;
}

.uap {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
  max-width: 33em;
  margin-top: 15em;
  border: solid aliceblue;
  background-color: green;
}

.lg {
  border: 1px solid black;
  float: right;
  margin-top: 5em;
  margin-right: 15em;
}


.user {
  margin-top: 10px;
  margin-left: 30px;
  background-color: aquamarine;
}

.passwd {
  margin-left: 34px;
  margin-top: 5px;
  background-color: aquamarine;
}

ul {
  list-style-type: none;
}

button {
  background-color: slateblue;
  color: yellow;
}

button:hover {
  color: red;
}