{% extends 'book_base.html' %}
{% block titleblock %}
    <title>chapters</title>>
{% endblock %}

{% block content %}
    <div class="book">
        <h1>{{ book.book_name }}</h1>
        <h6>作者：<a href="#">{{ book.author }}</a></h6>
        <div class="br">
            <h3>{{ book.book_name }}简介：</h3>
            <p>{{ book.brief }}</p>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <dl>
                        <dt>{{ book.book_name }}</dt>
                        {% for j in chapter %}
                            <dd><button class="ddb">{{ j.chapter_name }}</button></dd>
                        {% endfor %}
                    </dl>
                </div>
                <div class="col-md-9">
                    {% for j in chapter %}
                        {{ j.chapter_content }}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}